/* Default Responsive Layouts */
@import "default/_reset";
@import "default/_base";
@import "default/_fonts";
@import "default/_mixins";


@import "default/grid";


/*Global App */
@import "app/global";
@import "app/header";
@import "app/footer";

/* Pages */
@import "parts/home";
@import "parts/about";
@import "parts/contact";
@import "parts/loop";
@import "parts/single";
@import "parts/winery";
@import "parts/privacy";
@import "parts/sidebar";


/* Media queries */


@media screen and (max-width: 1024px){
    @import "queries/1024";
}

@media only screen 
and (min-device-width:768px) 
and (max-device-width:1024px) 
and (orientation:portrait) {
    @import "queries/_ipad-portrait";
}
@media only screen 
and (min-device-width:768px) 
and (max-device-width:1024px) 
and (orientation:landscape) {
    @import "queries/_ipad-landscape";
}


@media screen and (max-width: 767px){
    @import "queries/_mobile";
}