.footer{
	border-top: 6px solid $light_blue;
	text-align: center;

	nav{
		ul{
			display: flex;
		    align-items: center;
		    justify-content: center;
		    width: 700px;
		    max-width: 90%;
		    margin: 30px auto 50px;

		    @include mq('phablet', max) {
				margin: 15px auto 20px;
				max-width: 98%;
		    }

			li{
				display: inline-block;
				display: flex-inline;
				align-items: center;
				justify-content: center;
				vertical-align: middle;
				margin: 0;
    			flex: 1;

    			@include mq('phone', max) {	
					flex: inherit;
					padding: 0 8px;

					&.home {
					    display: none;
					}
    			}

				a{
					color: $footer_grey;
					text-transform: uppercase;
					text-decoration: none;
					font-weight: 600;
					letter-spacing: .05em;
    				font-size: 11px;
					@include effect(all, 250ms, ease-in-out);

					@include mq('phablet', max) {
						font-size: 9px;
					}

					&:hover{
						color: $light_blue;
					}
				}

				&.home{
					a{
						background: url('../img/footer_logo.png');
						background-size: contain;
						background-repeat: no-repeat;
						background-position: center center;
						height: 32px;
						width: 38px;
						text-indent: 9999px;
						overflow: hidden;
						display: block;
						margin: 0 auto;

						&:hover{
							background-image: url('../img/footer_logo_hover.png');
						}
					}
				}
			}
		}
	}

}