//Set Themes

    //Font & element Colors

    //Font Sizes
    $bigtitle:11em;

    //Alignament & Custom Styles
    $left:left;
    $center:center;
    $italic: italic;

    $normal:normal;
    $capitalize:capitalize;
    $upper: uppercase;


    //Colors
    $white:white;
    $white_hex:rgb(255,255,255);
    $light_blue:#38C0D8;
    $light_blue_hex:rgb(56,192,216);
    $grey:rgb(99,99,99);
    $footer_grey:#cbcbcb; //Footer menu color
    $background_grey:#F2F2F2;
    $black_hex:rgb(0,0,0);

    //Cursors
    $hand:pointer;
    $default:default;

    //Stylish Variables
    %fixHeight {
        &:after {
            content: "";
            display: table;
            clear: both;
        }
    }

    //Grid Default Stylish
        .grid {
            @extend %fixHeight;
        }
        %sizing {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        %inline {
            &:after {
                @extend %fixHeight;
            }
            vertical-align: top;
            display: inline-block;
            float:left;
            @extend %sizing;
            text-align: $left;
        }


    a{
        color: $light_blue;
        text-decoration: none;
        @include effect(all, 250ms, ease-in-out);

        &:hover{
            color: $grey;
        }
    }

    //Pegination global
    .pagination{
        margin: 20px 0 40px;
        display: block;
        text-align: center;

        a, span{
            padding: 6px;
            border: 1px solid $light_blue;
            color: $white;
            border-radius: 30px;
            font-size: 13px;
            line-height: 9px;
            height: 22px;
            width: 22px;
            display: inline-block;
            box-sizing: border-box;
            background: $light_blue;
        }

        a{
            text-decoration: none;

            &.prev {
                width: 79px;
            }

            &.next {
                width: 57px;
            }

            &:hover{
                color: $light_blue;
                background-color: $white;
            }
        }

        span{
            background: $white;
            color: $light_blue;
        }
    }
     