$color-background: #F5F5F5;
$color-main: rgba(56, 192, 216, 0.9);
$color-active: #FFF;
$color-link: #FFF;

$button-height: 23px;
$button-width: 25px;


/*------------------------------------*\
    PRELOADER
\*------------------------------------*/
div#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background-color: $white;
    background-image: url('../img/preload.gif');
    background-repeat: no-repeat;
    background-position: center center;
    display: none;
}

.animsition-loading:after {
    // content: "3 Oceans" !important;
	background:url("../img/comets.gif");
	width: 175px;
	height: 175px;
	display: inline-block;
	padding-top: 80px;
	margin-top: -80px;
	content: "" !important;
	box-sizing: border-box; 
}

/*------------------------------------*\
    FULLSCREEN
\*------------------------------------*/
#fullscreen{
	position: absolute;
	top: 85vh;
	right: 40px;
	z-index: 99;

	@include mq('tablet', max) {
		display: none;
	}

	a.open{
		position: relative;
		z-index: 22;
		border: none;
		cursor: pointer;
		color: $white;
		line-height: normal;
		padding-right: 30px;

		&:hover{
			background:none;
			color: white;
		}

		.outer{
			border:2px solid white;
			display: inline-block;
			position: absolute;
			position: absolute;
		    top: 1px;
		    right: 0;

			.inner{
				content: "";
				display: block;
				width: 12px;
				height: 8px;
				background: $white;
				margin: 3px;
			}
		}
	}
}


/*------------------------------------*\
    MAIN HEADER
\*------------------------------------*/
.header{
	position: relative;
	border-top: 6px solid $light_blue;
	z-index: 99;
	margin-bottom: -1px;

	&:before{
		content: " ";
		display: block;
	    width: 0px;
	    height: 0px;
		border-left: 7px solid transparent;
		border-right: 7px solid transparent;
		border-top: 7px solid $light_blue;
		margin: 0 auto;
		position: absolute;
		left: 49%;
		z-index: 2;

		@include mq('phone', max) {
			left: 48.50%;
		}
	}

	.menu_wrapper{
		position: absolute;
		z-index: 2;
		@include grid-align('center');
		width: 100%;
		text-align: center;
		height: 100px;

		.logo{
			margin-top: 20px;

			@include mq('tablet-small', max) {
				margin-top: 0px;
			}

			img{
				max-width: 100px;

				@include mq('tablet-small', max) {
					max-width: 80px;
				}
			}
			
		}


		.menue_container{
			position: fixed;
			right: 50px;
			top: 40px;
			overflow: visible;
			z-index: 999;


			.button_container {
				position: fixed;
				top: 47px;
				right: 60px;
				height: $button-height;
				width: $button-width;
				cursor: pointer;
				z-index: 100;
				transition: opacity .25s ease;

				@include mq('tablet-small', max) {
					top: 37px;
					right: 20px;
				}

				&:hover {
					opacity: .7;
				}

				&.active {
					.top {
						transform: translateY(5px) translateX(0) rotate(45deg);
						background: $color-active;
					}
					.middle {
						opacity: 0;
						background: $color-active;
					}

					.bottom {
						transform: translateY(-11px) translateX(0) rotate(-45deg);
						background: $color-active;
					}
				}

				span {
					background: $white; //$color-main;
					border: none;
					height: 5px;
					width: 100%;
					position: absolute;
					top: 0;
					left: 0;
					transition:  all .35s ease;
					cursor: pointer;
					border-radius: 6px;

					@include mq('tablet-small', max) {
						height: 4px;
					}

					&:nth-of-type(2) {
						top: 8px;
					}

					&:nth-of-type(3) {
						top: 16px;
					}
				}
			}

			.overlay {
				position: fixed;
				background: rgba(56, 192, 216, 0.9);
				top: 0;
				right: 0;
				width: 460px;
				max-width: 40%;
				height: 0%;
				opacity: 0;
				visibility: hidden;
				transition: opacity .35s, visibility .35s, height .35s;
				overflow: hidden;

				@include mq('tablet-small', max) {
					width: 100%;
				    max-width: 100%;
				    right: 0;
				    top: 110px;
				    height: auto;
				    padding: 15px 0 40px;
				}


				&.open {
					opacity: .9;
					visibility: visible;
					height: 100%;
					right: 17px;

					@include mq('tablet-small', max) {
					    width: 100%;
					    max-width: 100%;
					    right: 0;
					    top: 0px;
					    height: auto;
					    padding: 15px 0 40px;
					}

					@include mq('phone', max) {
						height: 100%;
						top: 0;
					}

					li {
						animation: fadeInRight .5s ease forwards;
						animation-delay: .35s;

						&:nth-of-type(2) {
							animation-delay: .4s;
						}
						&:nth-of-type(3) {
							animation-delay: .45s;
						}
						&:nth-of-type(4) {
							animation-delay: .50s;
						}
					}
				}
				nav {
					position: relative;
					height: 70%;
					top: 50%;
					transform: translateY(-50%);
					font-size: 50px;
					font-family: 'Vollkorn', serif;
					font-weight: 400;
					text-align: left;
    				padding-left: 0;

    				// @include mq('tablet-wide', max) {
    				// 	padding-left: 15%;
    				// }

    				@include mq('tablet-small', max) {
    					height: auto;
					    top: 144px;
					    padding: 0;
        				top: 190px;
					    text-align: center;
    				}

    				@include mq('phone', max) {
    					top: 200px;
    				}
				}
				ul {
					list-style: none;
					padding: 0;
					margin: 0 auto;
					display: inline-block;
					position: relative;
					height: 100%;
					width: 100%;

					li {
						display: block;
						height: 25%;
						height: auto;
						min-height: 50px;
						position: relative;
						opacity: 0;
						line-height: 80px;

						@include mq('tablet-wide', max) {
	    					line-height: 70px;
	    				}

	    				@include mq('tablet', max) {
	    					line-height: 60px;
	    				}

	    				&.menu-level-b{

	    					&::before{
	    						@include pseudo(block, relative, "Our other sites");
								padding-left: calc(23% + 4px);
								font-size: 18px;
								color: #fff;
								@extend %bold;
								-webkit-font-smoothing: antialiased;
								text-transform: uppercase;
								letter-spacing: 6px;
								line-height: 20px;
								margin: 58px 0 20px 0;

								@include mq('tablet-wide', max) {
									padding-left: calc(15% + 4px);
									font-size: 15px;
									letter-spacing: 5px;
								}

								@include mq('tablet-small', max) {
									padding-left: 0;
								}
	    					}

	    					a{
								font-size: 13px;
								text-shadow: none;
								border-top: 1px solid #fff;
								line-height: 59px;
								text-transform: uppercase;
								font-weight: 200;
								letter-spacing: 4px;
								@extend %regular;

								@include mq('tablet-wide', max) {
									font-size: 12px;
								}

								@include mq('700', max) {
									padding-left: calc(5% + 4px);
								}

								@include mq('tablet-small', max) {
									padding-left: 0;
								}

								&::before{
	    							@include pseudo(inline-block, relative, ">");
    								padding: 0 14px 0 6px;
    							}
	    					}
	    				}

						a {
							display: block;
							position: relative;
							color: $color-link;
							text-decoration: none;
							overflow: hidden;
							padding-left: 23%;
							@extend %bold;
							font-size: 55px;
    						text-shadow: 2px 2px 2px rgba(30, 30, 30, .2);

    						@include mq('tablet-wide', max) {
		    					font-size: 40px;
		    					padding-left: calc(15% + 4px);
		    				}

		    				@include mq('tablet', max) {
		    					font-size: 33px;
		    				}

		    				@include mq('700', max) {
								padding-left: calc(5% + 4px);
							}

							@include mq('tablet-small', max) {
								padding-left: 0;
							}

							&:hover:after,
							&:focus:after,
							&:active:after {
								width: 100%;
							}

							&:after {
								content: '';
								position: absolute;
								bottom: 0;
								left: 50%;
								width: 0%;
								transform: translateX(-50%);
								height: 3px;
								background: $color-link;
								transition: .35s;
							}
						}
					}
				}
			}

			// .menu_button{
			// 	z-index: 999;

			// 	button{
			// 		// width: 40px;
			// 		color: white;
			// 		font-size: 25px;

			// 		i{
			// 			color: white;
			// 			text-shadow: 1px 1px $white;
			// 			@include effect(all, 250ms, ease-in-out);
			// 		}

			// 		&:hover{
			// 			i{
			// 				color: $footer_grey;
			// 			}
			// 		}
			// 	}

			// }

			// .menu_holder{
			// 	display: none;
			// 	position: fixed;
			// 	height:100vh;
			// 	width: 350px;
			// 	top: 0;
			// 	right: 0;
			// 	background: rgba($light_blue_hex,0.9);
			// 	text-align: right;
			// 	z-index: 999;

			// 	button{
			// 		// width: 40px;
			// 		color: white;
			// 		font-size: 30px;
			// 		right: 50px;
			// 		top: 38px;
			// 		position: absolute;

			// 		i{
			// 			color: white;
			// 			text-shadow: 1px 1px $grey;
			// 			@include effect(all, 250ms, ease-in-out);
			// 		}

			// 		&:hover{
			// 			i{
			// 				color: $footer_grey;
			// 			}
			// 		}
			// 	}

			// 	nav{
			// 		margin-top: 100px;
			// 		text-align: left;

			// 		ul{
			// 			list-style: none;
			// 			margin-left: 50px;

			// 			li{
			// 				font-size: 40px;
			// 				padding: 10px 0;

			// 				a{
			// 					color: white;
			// 					text-decoration: none;
			// 					@extend %bold;
			// 					text-shadow: 1px 1px $grey;
			// 					@include effect(all, 250ms, ease-in-out);

			// 					&:hover{
			// 						color: $footer_grey;
			// 					}
			// 				}
			// 			}
			// 		}
			// 	}
			// }
		}
	}
}


body:not(.home) .header .logo img{
	max-width: none;
	width: 243px;
}

body:not(.home) .header .menu_wrapper{
	height: calc(300px - (80*100vw/1920));

	@include mq('desktop', max) {
		height: calc(260px - (80*100vw/1920));
	}

	@include mq('1000', max) {
		height: calc(230px - (80*100vw/1920));
	}

	@include mq('900', max) {
		height: calc(205px - (80*100vw/1920));
	}

	@include mq('800', max) {
		height: calc(180px - (80*100vw/1920));
	}

	@include mq('tablet', max) {
		height: 100px;
	}

}




.white_bottom_cover{
	overflow: hidden;
	margin-top: calc(-80*100vw/1920);

	.white_cover{
		overflow: hidden;
		position: relative;


		// &:before {
  //           content: '';
  //           display: block;
  //           height: 100%;
  //           position: absolute;
  //           width: 100%;
  //           z-index: 1;
  //           background-image: url('../img/overlay_cover_bg_blue.png');
		// 	background-position: left top;
		// 	background-repeat: no-repeat;
		// 	background-size: 100% 100%;
  //           left: -7px;
  //       }

  		&:before {
	        content: '';
	        display: block;
	        height: 150px;
	        position: absolute;
	        width: 100%;
	        max-width: 100%;
	        z-index: 1;
	        background-image: url('../img/overlay_cover_bg_blue.png');
			background-position: left top;
			background-repeat: no-repeat;
			background-size: 100% auto;
	        left: -7px;
	        top: 0px;
	    }

        .white_bg{
	  //       content: " ";
			// display: block;
			// min-height: 100px;
			// position: relative;
			// z-index: 1;
			// background-image: url('../img/overlay_cover_bg_white.png');
			// background-position: right top;
			// background-size: 100% 100%;
			// background-repeat: no-repeat;
			// padding-right: 0;
			// right: 5px;

			content: " ";
			display: block;
			position: relative;
			z-index: 1;
			background-image: url('../img/overlay_cover_bg_white.png');
			background-position: right top;
			background-size: 100% auto;
			background-repeat: no-repeat;
			padding-right: 0;
			right: 5px;
			z-index: 2;
			min-height: calc(150*100vw/1920);;


			@include mq('tablet', max) {
				right: 0;
			}
		}

	}

}