body{
	overflow-x: hidden !important;
    @extend %regular;
    font-size: 17px;
    max-width: 100%;
}

*{
    margin: 0;
    padding: 0;
}

p{
    color: #505050 ;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3em;
    text-align: left;
    margin-bottom: 30px;
}

.container {
    position:relative;
    max-width:1140px;
    padding:0px 20px;
    margin:0px auto;
    box-sizing: border-box;
}

.container-fluid {
    position:relative;
    max-width:100%;
    margin:0px auto;
    box-sizing: border-box;
}


img{
    max-width: 100%;
}


@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}


//overflow-y for section
.fp-section.overflow-y-show, .fp-slide,
.fp-section.overflow-y-show.fp-table,
.fp-slide.overflow-y-show.fp-table,
.fp-section.overflow-y-show .fp-tableCell
{
    overflow: visible;
}


.ilightbox-holder.dark .ilightbox-inner-toolbar .ilightbox-toolbar{
    right: 25px !important;
}