@mixin typo($name,$t) {
    @font-face {
        font-family: $name;
        src: url('../fonts/#{$t}.eot');
        src: url('../fonts/#{$t}.eot?#iefix') format('embedded-opentype'),
        url('../fonts/#{$t}.woff') format('woff'),
        url('../fonts/#{$t}.ttf') format('truetype'),
        url('../fonts/#{$t}.svg##{$name}') format('svg');
        font-weight: normal;
        font-style: normal;
    }
}


@include typo('foco_light','foco_lt-webfont');
@include typo('foco_regular','foco-regular-webfont');
@include typo('foco_bold','foco-bold-webfont');
@include typo('foco_italic','foco_it-webfont');


%light {
    font-family:"foco_light",sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight:normal;
}

%regular {
    font-family:"foco_regular",sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight:normal;
}

%bold {
    font-family:"foco_bold",sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight:bold;
}

%italic {
    font-family:"foco_italic",sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight:bold;
}