/*Background Gradient Color*/

// pseudo defaul - Usage
// div::after {
//     @include pseudo;
// }
@mixin pseudo($display: block, $pos: absolute, $content: ''){
    content: $content;
    display: $display;
    position: $pos;
}


/*Set Opacity*/
@mixin opacity($opacity) {
	opacity: $opacity;
	filter: alpha(opacity=#{$ie});
}


/* Border Radius*/
@mixin br($val) {
	border-radius: $val;
}


/* Animate */
@mixin effect($object,$time,$effect) {
  @if $effect == "" { $effect : linear }
  transition: $object $time $effect;
}


// Placeholder content
// input,  
// textarea {  
//     @include placeholder {
//         color: $grey;
//     }
// }
@mixin placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}


@mixin arrow($direction,$size,$color) {
	width: 0;
	height: 0;
	@if $direction == 'left'{
			border-top: $size solid transparent;
			border-bottom: $size solid transparent;
			border-right:$size solid $color;
	}
	@else if $direction == 'right'{
			border-top: $size solid transparent;
			border-bottom: $size solid transparent;
			border-left:$size solid $color;
	}
	@else if $direction == 'top'{
			border-left: $size solid transparent;
			border-right: $size solid transparent;
			border-bottom: $size solid $color;
	}
	@else if $direction == 'bottom'{
			border-left: $size solid transparent;
			border-right: $size solid transparent;
			border-top: $size solid $color;
	}
}



@mixin bs() {
 	box-sizing: border-box;
}

@mixin Y-50() {
	transform: translateY(-50%);
}

@mixin X-50() {
	transform: translateX(-50%);
}

@mixin XY-50() {
	transform: translate(-50%,-50%);
}



/*Rotate*/
@mixin rotate($value) {
	transform: rotate($value);
}


@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}



@mixin keyframes( $animationName )
{
    @-webkit-keyframes $animationName {
        @content;
    }
    @-moz-keyframes $animationName {
        @content;
    }
    @-o-keyframes $animationName {
        @content;
    }
    @keyframes $animationName {
        @content;
    }
}

@mixin animation($str) {
  animation: #{$str};      
}


// Responsive ration of images
// div {
//     @include responsive-ratio(16,9);
// }
@mixin responsive-ratio($x,$y, $pseudo: false) {
    $padding: unquote( ( $y / $x ) * 100 + '%' );
    @if $pseudo {
        &:before {
            @include pseudo($pos: relative);
            width: 100%;
            padding-top: $padding;
        }
    } @else {
        padding-top: $padding;
    }
}



// CSS triangle
// @mixin css-triangle($color, $direction, $size: 6px, $position: absolute, $round: false){
//     @include pseudo($pos: $position);
//     width: 0;
//     height: 0;
//     @if $round {
//         border-radius: 3px;
//     }
//     @if $direction == down {
//         border-left: $size solid transparent;
//         border-right: $size solid transparent;
//         border-top: $size solid $color;
//         margin-top: 0 - round( $size / 2.5 );
//     } @else if $direction == up {
//         border-left: $size solid transparent;
//         border-right: $size solid transparent;
//         border-bottom: $size solid $color;
//         margin-bottom: 0 - round( $size / 2.5 );
//     } @else if $direction == right {
//         border-top: $size solid transparent;
//         border-bottom: $size solid transparent;
//         border-left: $size solid $color;
//         margin-right: -$size;
//     } @else if  $direction == left {
//         border-top: $size solid transparent;
//         border-bottom: $size solid transparent;
//         border-right: $size solid $color;
//         margin-left: -$size;
//     }
// }



// Media query inline
// .site-header {
//     padding: 2rem;
//     font-size: 1.8rem;
//     @include mq('tablet-wide') {
//         padding-top: 4rem;
//         font-size: 2.4rem;
//     }
// }
$breakpoints: (
    "phone":        400px,
    "phone-wide":   480px,
    "phablet":      560px,
    "tablet-small": 640px,
    "tablet":       768px,
    "800":       800px,
    "700":       700px,
    "900":       900px,
    "1000":       1000px,
    "tablet-wide":  1024px,
    "desktop":      1100px,
    "desktop-wide": 1440px
);
@mixin mq($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}



// Max height based mq
@mixin mqh($height, $type: min) {
    @if $type == max {
        $height: $height - 1px;
    }
    @media only screen and (#{$type}-height: $height) {
        @content;
    }
}


//Skew and rotate top of the div
//Correct the inner div to rectify the rotation
// @mixin skew_top($rotaion) {
//     transform: rotate($rotaion) skew($rotaion);
    
//     & .skew_correction{
//         transform: rotate(0-#{$rotaion}) skew(0-#{$rotaion});
//     }

//     &:before, &:after{
//         transform: rotate(-#{$rotaion}) skew(-$rotaion);
//     }
    
// }




//Before and after angles for the page objects
//Can be used for top, bottom or both.
@mixin outer_triangles($position) {
    overflow: visible !important;
    position: relative;
    z-index: 2;
    zoom: 101%;

    @if $position == "top" or $position == "both" {

        &:before {
            content: '';
            display: block;
            height: 250px;
            position: absolute;
            top: -80px;
            width: 100%;
            z-index: -1;
            background-image: url('../img/top_angled_bg.png');
            background-position: left top;
            background-repeat: no-repeat;

            @include mq('tablet', max) {
                top: -60px;
            }

            @include mq('phablet', max) {
                top: -30px;
            }
        }

    }

    @if $position == "bottom" or $position == "both" {

        &:after {
            content: '';
            display: block;
            height: 250px;
            right: -20px;
            position: absolute;
            bottom: -80px;
            width: 100%;
            z-index: -1;
            background-image: url('../img/bottom_angled_bg.png');
            background-position: right bottom;
            background-repeat: no-repeat;

            @include mq('tablet', max) {
                bottom: -60px;
            }

            @include mq('phablet', max) {
                bottom: -30px;
            }
        }

    }

}



// Vertical align using flex
// @include flex_verticle_align(center,center);
@mixin flex_verticle_align($v_align,$h_align){
    display: flex;
    align-items: $v_align;
    justify-content: $h_align;
    flex-direction: column;
}



//Verticle align using transform
@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}