
/*------------------------------------*\
    ABOUT PAGE BOX 1
\*------------------------------------*/
.about_box_1{
	top: -20px;
	margin-top: 50px;

	@include mq('tablet-wide', max) {
		margin-top: 40px;
	}

	@include mq('tablet', max) {
        flex-direction: column;
		align-items: stretch;

		.cell--1\/2{
	        width: 100%;
	    }
	}

	.img_box{

		.box_img{
			position: relative;

			.animation {
			    position: absolute;
			    width: 93px;
			    height: 180px;
			    bottom: -20px;
			    left: 170px;
			    background-image: url("../img/dounut_girl.png");
			    background-size: contain;

			    -webkit-animation-name: thedounutgirl;
			    animation-name: thedounutgirl;
			  
			   transition: all 0.5s ease;
			    
			   animation-duration: 40s;    
			   -webkit-animation-duration: 40s;
			  
			   -webkit-animation-fill-mode: both;
			    animation-fill-mode: both;
			  
			   -webkit-animation-timing-function:linear;/*ease ease-in ease-out ease-in-out*/
			    animation-timing-function:linear;
			  
			   -webkit-animation-iteration-count: infinite;/*number|initial|inherit*/
			    animation-iteration-count: infinite;


			    @include mq('phablet', max) {
					width: 49px;
			    	height: 95px;
			    	left: 30%;
			    	bottom: -3%;
					background-repeat: no-repeat;
				}     
			}

			@-moz-keyframes thedounutgirl {
			   from { -moz-transform: rotate(0deg); }
			   to { -moz-transform: rotate(360deg); }
			}

			@-webkit-keyframes thedounutgirl {
			   from { -webkit-transform: rotate(0deg); }
			   to { -webkit-transform: rotate(360deg); }
			}

			@-o-keyframes thedounutgirl {
			   from { -o-transform: rotate(0deg); }
			   to { -o-transform: rotate(360deg); }
			}

			@keyframes thedounutgirl {
			   from { transform: rotate(0deg); }
			   to { transform: rotate(360deg); }
			}

			@include mq('tablet-wide', max) {
				height: 100%;

				img{
					height: 40vw;
					max-width: none;
				}
			}

			@include mq('tablet', max) {
				margin: 0 20px;

				img{
					height: auto;
					max-width: 100%;
				}
			}

		}
	}
	
	.text_box{

		.box_text{
			max-width: 560px;
		    float: right;
		    padding-left: 30px;

			h2{
				font-size: 52px;
				color: $light_blue;
				line-height: 0.9em;
				margin-bottom: 12px;
				@extend %light;

				span{
					@extend %italic;
					font-weight: 600;
				}
			}

			@include mq('tablet-wide', max) {
				margin-left: 20px;
			}

			@include mq('tablet', max) {
				margin: 0 20px;
				max-width: none;
			}
		}
	}
	
}


/*------------------------------------*\
    ABOUT PAGE BOX 2
\*------------------------------------*/
.about_box_2{
	// overflow: hidden;

	// &>div.cell--1\/2 {
	// 	width: 60%
	// }

	@include mq('tablet', max) {
        flex-direction: column;
		align-items: stretch;

		.cell--1\/2{
	        width: 100%;
	    }
	}

	.img_box{

		.box_img{
			margin-top: -30px;
			margin-bottom: 30px;

			@include mq('tablet-wide', max) {
				height: 100%;
				margin-top: 10px;

				img{
					height: 40vw;
					margin-left: -25vw;
					max-width: none;
				}
			}

			@include mq('tablet', max) {
				margin: 30px 20px 10px;
				
				img{
					height: auto;
					max-width: 100%;
					margin-left: 0;
				}
			}

		}
	}

	.text_box{

		@include mq('tablet-wide', max) {
			margin-left: 40px;
		}


		.box_text{
			max-width: 560px;
		    float: left;
		    margin-left: 5px;
		    padding-right: 30px;

			h2{
				font-size: 52px;
				color: $light_blue;
				line-height: .9em;
    			margin-bottom: 12px;
				@extend %light;

				span{
					@extend %italic;
					font-weight: 600;
				}
			}

			@include mq('800', max) {
				margin-right: 60px;
			}

			@include mq('tablet', max) {
				margin: 0 20px 0 60px;
				max-width: none;
			}
		}
	}
	
}



/*------------------------------------*\
    PROJECTS
\*------------------------------------*/
.projects{
	margin-top: 50px;

	@include mq('tablet-wide', max) {
		margin-top: 20px;
	}

	h2{
		font-size: 53px;
		margin-bottom: 20px;
		@extend %light;
		color: $light_blue;

		span{
			@extend %italic;
			font-weight: normal;
		}
	}

	img{
		display: block;
	}
}