
/*------------------------------------*\
    ABOUT PAGE BOX 1
\*------------------------------------*/
// .contact_wrapper{
// 	min-height: 800px;
// 	background-size: cover;
// 	position: relative;
// 	@include outer_triangles('top');
// 	transform: rotate(-4deg) skew(-4deg);
// 	z-index: 1;

	
// 	.map{
// 		position: absolute;
// 		width: 100%;
// 		height: 100%;
// 		z-index: 1;
// 		top: 0;
// 		overflow: hidden !important;

// 		.skew_correction{
// 			transform: rotate(4deg) skew(4deg);
// 		}
// 	}

// 	.map_overlay{
// 		z-index: 2;
// 		position: relative;
// 		background:transparent; 
// 		width:100%;
// 		height:100%; /* your iframe height */
		

// 		.background{
// 			background-color: $light_blue;
// 			height: 100%;
// 			transform: skewX(40deg); /* Standard syntax */
// 			transform-origin: 0% -10%;

// 			.skew_correction{
// 				transform: rotate(4deg) skew(-36deg);

// 				.contact_text_wrapper{
// 					position: relative;
// 					padding-top: 70px;
// 					max-width: 400px;
// 					margin-left: 200px;

// 					p{
// 						color: $white;
// 						line-height: 2em;
// 						margin-bottom: 0;
// 						font-size: 18px;
// 					}

// 					hr{
// 						background: $white;
// 						height: 1px;
// 						width: 60%;
// 						margin: 20px auto;
// 					}
// 				}
// 			}
// 		}
// 	}
// }

.contact_wrapper{
	overflow: hidden;
	position: relative;
	margin-top: calc(-80*100vw/1920);
	max-height: calc(100vh + 150*100vw/1920);


	@include mq('tablet-wide', max) {
		max-height: none;
	}

	&:before {
        content: '';
        display: block;
        height: 150px;
        position: absolute;
        width: 100%;
        max-width: 100%;
        z-index: 1;
        background-image: url('../img/overlay_cover_bg_blue.png');
		background-position: left top;
		background-repeat: no-repeat;
		background-size: 100% auto;
        left: -7px;
        top: 0px;
    }

    .content_bg{
        content: " ";
		display: block;
		position: relative;
		z-index: 1;
		background-image: url('../img/overlay_cover_bg_white.png');
		background-position: right top;
		background-size: 100% auto;
		background-repeat: no-repeat;
		padding-right: 0;
		right: 5px;
		z-index: 2;
		// min-height: 100vh;

		@include mq('phone-wide', max) {
			right: 0;
		}


		.map{
			position: absolute;
			width: 100%;
			height: calc(1160*100vw/1920);
			z-index: -1;
			top: 0;
			overflow: hidden !important;
			// background: url('../img/map_bg.png');
			background-repeat: no-repeat;
			background-position: left top calc(80*100vw/1920);
			background-size: 100% auto;

			@include mq('phone-wide', max) {
				position: relative;
				// background: url('../img/map_bg_mobile.png');
				height: calc(509*100vw/480);
				background-position: left top;
				background-size: 100%;
			}
		}

		.map_overlay{
			z-index: 2;
			background-image: url('../img/contact_angled_bg_blue.png');
			background-position: right top;
			background-repeat: no-repeat;
			background-size: 100% auto;
			min-height: calc(1160*100vw/1920);

			@include mq('desktop', max) {
				background-image: url('../img/contact_angled_bg_blue_tab.png');
			}

			@include mq('tablet-small', max) {
				background-size: 100% 100%;
			}

			@include mq('phone-wide', max) {
				background: $light_blue;
			}
			

			.contact_text_wrapper{
				position: relative;
				max-width: 400px;
				margin-top: 17vh;
				margin-right: 11%;
				float: right;
				text-align: center;

				@include mq('tablet-wide', max) {
					margin-top: 5vh;
				}

				@include mq('phone-wide', max) {
					float: none;
					padding: 4vh 0;
					max-width: 220px;
					margin: 0 auto;
				}

				p{
					color: $white;
					line-height: 1.7em;
					margin-bottom: 0;
					font-size: 17px;

					@include mq('tablet-wide', max) {
						font-size: 15px;

						img{
							width: 30%;
							height: auto;
							margin-bottom: 15px;
						}
					}

					a{
						color: $white;
						text-decoration: none;
					}
				}

				hr{
					background: $white;
					height: 1px;
					width: 90%;
					margin: 20px auto;
				}

				a.directions,a.note{
					display: inline-block;
					width: 150px;
					height: auto;
					padding: 8px 0;
					margin: 10px 0;
					text-transform: uppercase;
					color: $white;
					text-decoration: none;
					border: 1px solid $white;
					font-size: 15px;

					@include mq('tablet-wide', max) {
						font-size: 13px;
					}

					&:hover{
						color: $light_blue;
						background: $white;
					}
				}

				a.directions{
					margin-top: 25px;
				}
			}
		}

	}

	.contact_form_popup{
		position: fixed;
		width: 100%;
		height: 100%;
		background: rgba($black_hex, 0.5);
		z-index: 99;
		top: 0;
		left: 0;
		@include flex_verticle_align(center,center);
		transition: visibility 0.2s, opacity 0.2s linear;

		&.active{
			visibility: hidden;
			opacity: 0;
		}

		.contact_form_inner{
			position: relative;
			max-width: 400px;
			width: 100%;
			background: $white;
			padding: 15px;
			position: relative;

			@include mq('phablet', max) {
				max-width: 80%;
			}

			.close{
				content: "\f00d";
				font-family: FontAwesome;
				font-weight: normal;
				font-style: normal;
				width: 30px;
				height: 30px;
				border-radius: 30px;
				background: rgba($black_hex, 0.8);
				color: $white;
				position: absolute;
				top: -15px;
				right: -15px;
				overflow: hidden;
				cursor: pointer;

				span{
					background: white;
					border: none;
					height: 3px;
					width: 100%;
					position: absolute;
					top: 0;
					left: 0;
					cursor: pointer;
					border-radius: 6px;
    				background: #FFF;

					&.top{
						transform: translateY(14px) translateX(0) rotate(45deg);
						top: -1px;
    					right: -1px;
					}
					&.bottom{
						transform: translateY(13px) translateX(0) rotate(-45deg);
					}
				}
			}
			
			.gform_heading{
				margin: 0 0 10px;

				.gform_title{
					color: $light_blue;
					font-size: 25px;
					margin: 0;
				}
			}

			.gform_wrapper div.validation_error{
				padding: 10px 0 !important;
			}

			.gform_body{
				input, textarea{
					padding: 5px 8px;
					padding: 15px 8px !important;
					font-size: 14px !important;
					border: 2px solid $light_blue;
					border-width: 2px !important;
					margin-top: 6px;

					@include placeholder {
				        color: $light_blue !important;
				    }

				    @include mq('phablet', max) {
				    	padding: 10px 8px !important;
				    }
				}

				li.gfield.gfield_error.gfield_contains_required{
					padding: 0;
				}
				li.gfield.gfield_error.gfield_contains_required div.ginput_container,
				li.gfield.gfield_error.gfield_contains_required label.gfield_label{
					margin-top: 0;
					border: none;
				}
				.field_description_below .gfield_description{
					padding-top: 7px;
				}
				li.gfield.gfield_error,
				li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning{
					border: none;
				}
			}

			.gform_footer{
				input[type="submit"]{
					width: 100%;
				    background: #38C0D8;
				    padding: 12px 0 !important;
				    border: 2px solid $light_blue;
				    border-radius: 20px;
				    margin: 5px 0 0px !important;
				    color: $white;

				    &:hover{
				    	background: white;
				    	color: $light_blue;
				    }
				}
			}
		}
	}

}