
/*------------------------------------*\
    MAIN SLIDER VIDEO AND IMAGE
\*------------------------------------*/
body:not(.home) .main_slider_wrapper .parallax-main-slider{
	// transition: all 500ms ease;

	&.active{
		transform: translate3d(0px, 100px, 0px) !important;
	}
}

.main_slider_wrapper{
	z-index: 1;

	&.fp-table .fp-bg {
		transition: all 1000ms ease;
	}
	&.fp-table:not(.active) .fp-bg {
	    transform: translate3d(0px, 150px, 0px) !important;

	    @include mq('phone', max) {
	    	transform: translate3d(0px, 70px, 0px) !important;
	    }
	}

	.video_wrapper{
		position: relative;
		overflow: hidden;
		z-index: 1;
		height: 400px;
		max-height: 300px;

		@include mq('desktop', max) {
			max-height: 260px;
		}

		@include mq('1000', max) {
			max-height: 230px;
		}

		@include mq('900', max) {
			max-height: 205px;
		}

		@include mq('800', max) {
			max-height: 180px;
		}

		@include mq('tablet', max) {
			max-height: 160px;
		}


		.cell{
			width: 100%;
			height: 100%;
		}

		&.full_page_height{
			max-height: none;
		}

		.video{
			z-index: 1;
			height: 100%;
			overflow: hidden;
			padding: 0;
			position: relative;

			.preload_image{
				position: absolute;
			    z-index: 2;
			    left: 0;
			    top: 0;
			    right: 0;
			    bottom: 0;
			    text-align: center;
			    padding-top: 0;
			    background-image: url('../img/slider_content_bg.png');
			    background-position: center;
			    background-repeat: no-repeat;
			    background-size: 500px;
				@include flex_verticle_align(center,center);
				background-repeat: no-repeat;
				background-size: cover;
			}

	        iframe{
				// position: absolute;
				z-index: 1;
				box-sizing: border-box;
				// height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
				// left: 50%;
				// min-height: 100%;
				// min-width: 100%;
				// transform: translate(-50%, -50%);
				position: absolute;
				// top: 50%;

				// background-image: url('../img/frame_1.jpeg');
				// background-repeat: no-repeat;
				// background-size: cover;

				@include mq('tablet','max') {
					// height: 100vh !important;
					// width: 194vh !important;
				}
				// width: 177.77777778vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
	        }

	        #video-background {
			/*  making the video fullscreen  */
			  position: fixed;
			  right: 0; 
			  bottom: 0;
			  min-width: 100%; 
			  min-height: 100%;
			  width: auto; 
			  height: auto;
			  z-index: -100;
			}
		}

		.video_overlay{
			position: absolute;
		    z-index: 2;
		    left: 0;
		    top: 0;
		    right: 0;
		    bottom: 0;
		    text-align: center;
		    padding-top: 0;
		    background-image: url('../img/slider_content_bg.png');
		    background-repeat: no-repeat;
		    background-position: center calc(50% - 119px);
			background-size: 500px;
			@include flex_verticle_align(center,center);

			@include mq('tablet-wide', max) {
				background-size: 50%;
			}

			@include mqh(800px, max) {
				background-position: center calc(50% - 55px);
			}

			@include mqh(600px, max) {
				background-position: center calc(50% - 18px);
			}

			@include mq('phone', max) {
				background-position: center calc(50% - 25px);
    			background-size: 90%;
			}

			.video_overlay_inner{
				margin-top: -280px;

				@include mqh(800px, max) {
					margin-top: -200px;
				}

				@include mqh(600px, max) {
					margin-top: -100px;
				}

				@include mq('phone', max) {
					margin-top: -150px;
				}

				h1{
					font-size: 63px;
					@extend %bold;
					color: $white;
					letter-spacing: 1px;
					line-height: 1em;
					margin: 0 0 20px 0;
    				text-shadow:  0px 0px 10px rgba(30, 30, 30, 0.2);
    				max-width: 720px;


    				@include mq('tablet-wide', max) {
    					font-size: 53px;
    					margin-top: 20px;
    				}

    				@include mq('tablet', max) {
    					margin: 0 20px;
    					font-size: 43px;
    					margin-top: 40px;
    				}

    				@include mq('tablet-small', max) {
    					font-size: 33px;
					    max-width: 80%;
					    margin: 40px auto 0;
    				}

    				@include mq('phone-wide', max) {
    					font-size: 28px
    				}

				}

				a{
					color: $white;
					font-size: 13px;
					border: 1px solid $white;
					letter-spacing: 3px;
					padding: 10px 20px;
					@include br(25px);
					text-decoration: none;
					text-transform: uppercase;
					@include effect(all, 250ms, ease-in-out);
					display: inline-block;
					min-width: 195px;

					&.main_slider_mobile_vid{
						display: none;
					}

					@include mq('tablet', max) {
						margin-top: 20px;
					}

					@include mq('phone-wide', max) {

						&.main_slider_mobile_vid{
							display: inline-block;
						}
					}

					@include mq('phone', max) {
    					font-size: 12px;
    					padding:9px 18px;
    				}

					&:hover{
						background:$white;
						color: $light_blue;
					}
				}

				.section1_line {
					width: 12px;
					height: 44%;
					position: absolute;
					bottom: 50px;
					left: 50%;
					left: calc(50% - 6px);
					background-image: url( '../img/section-line-arrow-down.png'), url( '../img/section-1-line2.png' );
					background-repeat: no-repeat;
					background-position: center bottom, center -82.5px;
					background-size: contain, 8px;

					@include mqh(800px, max) {
						height: 37%
					}

					@include mqh(600px, max) {
						height: 28%;
					}

					@include mq('phone', max) {
						height: 36%;
					}

					&::after {
						content: "SCROLL";
						color: #FFF;
						width: 50px;
						height: 20px;
						text-align: center;
						position: absolute;
						bottom: -29px;
						left: -19px;
						font-size: 10px;
						letter-spacing: 3px;
						font-weight: 800;
					}
				}  
			}
		}


		.img_wrapper{
			min-height: 300px;
		}
	}


	.img_wrapper{
		min-height: 300px;
	}

}



/*------------------------------------*\
    HOME PAGE BOTTOM BANNER
\*------------------------------------*/
.gallery{
	width: 100%;
	height: auto;
	margin-right: 0;
	transform: rotate(-3deg) skew(-3deg);
	overflow-y: visible !important;
	z-index: 3;
	position: relative;
	@include outer_triangles("both");

	.master-slider{
		border-top: 6px solid $white;
		border-bottom: 6px solid $white;
		background: $white;

		.ms-container{

			.ms-inner-controls-cont{
				max-width: none;

				.ms-view{

					.ms-slide-bgcont{
						text-align: right;
						
						img{
						    transform: rotate(3deg) skew(3deg);
						    margin-top: -43px !important;
						    width: auto !important;
						    height: calc(100% + 50px) !important;
						}
					}

					.ms-overlay-layers{
						z-index: 100%;
						z-index: 1;

						.ms-slide-layers{
							left: 0 !important;
						}
					}

					.ms-fixed-layers{
						vertical-align: middle;
					    display: flex;
					    align-items: center;
					    left: auto !important;
					    max-width: 3000px !important;

						div.ms-layer{
							position: relative;
						    top: auto !important;
						    margin: 0 !important;
						    height: auto !important;
						    width: 70%;
							transform: rotate(3deg) skew(3deg);
							left: 0 !important;

							h2{
								width: 50%;
    							margin: 0 auto !important;
								color: $light_blue;
								font-size: 80px;
								@extend %light;
								line-height: 1em;
								text-align: center;
								margin: 0 10%;
							}

							p{
								max-width: 400px;
								margin: 20px auto 0;
								font-size: 18px;
								color: $grey;
								@extend %light;
								line-height: 1.4em;
							}

							@include mq('tablet-wide', max) {
								width: 50%;

								h2{
									width: 100%;
								}
							}

							@include mq('tablet', max) {
								width: 100%;
								margin: 0 20px;

								h2{
									width: 100%;
									font-size: 60px;
								}

								p{
									color: white;

									@include mq('phone', max) {
										margin: 10px 10px 0;
									}
								}
							}

						}
					}

					.ms-slide-layers{
						
						max-width: 70% !important;
						left: 0 !important;

						img.ms-layer{
							right: 0 !important;
							left: auto !important;
							min-height: 100% !important;
						    min-width: 100% !important;
						    height: auto !important;
						    width: auto !important;
						}

						@include mq('tablet', max) {
							width: 100%;
							max-width: 100% !important;
							background: rgba($black_hex,0.3);

							img.ms-layer{
								opacity: 0;
							}
						}

					}
				}

				.ms-bullets{
					max-width: 55%;
					width: auto !important;
					margin: 0 auto;
					left: 0;
					bottom: 20% !important;
					transform: rotate(3deg) skew(3deg);

					.ms-bullets-count{
						width: 150px;
						text-align: center;
						left: calc(50-(0.35*100vw));
						right: auto;
						margin: 0 auto;

						.ms-bullet{
							width: 6px;
							height: 6px;
							background: $light_blue;
							border:2px solid $light_blue;
							float: none;
							display: inline-block;
							@include br(7px);

							&.ms-bullet-selected{
								background: none;
							}
						}
					}

					@include mq('tablet', max) {
						width:100% !important;
						right: 0;
						margin:0 auto;

						.ms-bullets-count{
							width: 100% !important;
							left: auto;
						}
					}
				}
			}
		}
	}
}


/*------------------------------------*\
    HOME PAGE BOTTOM BANNER
\*------------------------------------*/
.bottom_banner_wrapper{
	&.fp-table .fp-bg {
		transition: all 200ms ease;
	}
	&.fp-table:not(.active) .fp-bg {
	    transform: translate3d(0px, -150px, 0px) !important;

	    @include mq('tablet-wide', max) {
	    	transform: translate3d(0px, -70px, 0px) !important;
	    }
	}
}

.bottom_banner{
    background-position: center center;
    background-size: cover;
    // min-height: 700px;
    overflow: hidden;
    z-index: 1;
    position: relative;


    .banner_text_wrapper{
		position: relative;
		overflow: hidden;
		z-index: 1;
		// min-height: 700px;

		.video{
			z-index: 1;
			// height: 100%;
			// overflow: hidden;
			// padding: 0;
			// position: relative;

			// min-height: 600px;
			height: 110%;
            position: relative;
            width: 100%;
            overflow: hidden;


            .preload_image{
				position: absolute;
			    z-index: 2;
			    left: 0;
			    top: 0;
			    right: 0;
			    bottom: 0;
			    text-align: center;
			    padding-top: 0;
			    background-image: url('../img/slider_content_bg.png');
			    background-position: center;
			    background-repeat: no-repeat;
			    background-size: 500px;
				@include flex_verticle_align(center,center);
				background-repeat: no-repeat;
				background-size: cover;
			}


	        iframe{
				// position: absolute;
				z-index: 1;
				box-sizing: border-box;
				// height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
				// left: 50%;
				// min-height: 100%;
				// min-width: 100%;
				// transform: translate(-50%, -50%);
				position: absolute;
				// top: 50%;

	            @include mq('tablet','max') {
					// height: 100vh !important;
					// width: 1800px !important;
				}
	        }

	        #video-background {
			/*  making the video fullscreen  */
			  position: fixed;
			  right: 0; 
			  bottom: 0;
			  min-width: 100%; 
			  min-height: 100%;
			  width: auto; 
			  height: auto;
			  z-index: -100;
			}
		}

		.video_overlay{
			position: absolute;
		    z-index: 2;
		    left: 0;
		    top: 0;
		    right: 0;
		    bottom: 0;
		    text-align: center;
		    padding-top: 0;
		    background-image: url('../img/slider_content_bg.png');
		    background-position: center;
		    background-repeat: no-repeat;
		    background-size: 500px;
		    transition: all 1000ms ease;
			@include flex_verticle_align(center,center);

			@include mq('tablet-wide', max) {
				background-size: 50%;
			}

			@include mq('phone', max) {
				background-size: 90%;
			}

			.video_overlay_inner{
				position: relative;

				h3{
					font-size: 61px;
					color: $white;
					max-width: 560px;
					@extend %light;


					@include mq('tablet-small', max) {
    					font-size: 33px;
						max-width: 80%;
						margin: 40px auto 0;
    				}

					@include mq('phone', max) {
						font-size: 45px;
					}

					span{
						@extend %italic;
						font-weight: 500;
					}
				}

				a{
					color: $white;
					font-size: 13px;
					border: 1px solid $white;
					letter-spacing: 3px;
					padding: 10px 20px;
					@include br(25px);
					text-decoration: none;
					text-transform: uppercase;
					margin-top: 35px;
					display: inline-block;
					@include effect(all, 250ms, ease-in-out);
					min-width: 195px;

					@include mq('phone', max) {
						font-size: 12px;
						padding: 9px 18px;
						min-width: 160px;
					}

					&:hover{
						background:$white;
						color: $light_blue;
					}
				}
			}

			.section3_line_right {
				border-bottom: 2px dotted #fff;
				width: 49%;
				position: relative;
				bottom: 3px;
				left: 24.5%;
				top: 77px;
				height: 8px;

				&::before{
					@include pseudo;
					width: 9px;
					height: 90px;
					background: url( '../img/section-1-line2.png') no-repeat top right;
					background-size: 8px;
					left: -4px;
					top: -77px;
				}

				&::after{
					@include pseudo;
					width: 12px;
					height: 10px;
					background: url( '../img/section-line-arrow-down.png') no-repeat right;
					background-size: contain;
					right: -10px;
					top: 3.5px;
					transform: rotate(-90deg);

					@include mq('desktop', max) {
						right: -3px;
					}
				}
			}
		}


		.img_wrapper{
			min-height: 300px;
		}
	}



  //   .banner_text_wrapper{
  //   	text-align: center;
		// padding-top: 275px;
		// height: 100%;
		// background-image: url('../img/slider_content_bg.png');
		// background-position: center top 170px;
		// background-repeat: no-repeat;
		// background-size: 500px;

		// h3{
		// 	font-size: 72px;
		// 	color: $white;
		// 	@extend %light;

		// 	span{
		// 		@extend %italic;
		// 	}
		// }

		// a{
		// 	color: $white;
		// 	font-size: 15px;
		// 	border: 1px solid $white;
		// 	letter-spacing: 2px;
		// 	padding: 5px 45px;
		// 	@include br(15px);
		// 	text-decoration: none;
		// 	text-transform: uppercase;
		// 	margin-top: 35px;
		// 	display: inline-block;
		// 	@include effect(all, 250ms, ease-in-out);

		// 	&:hover{
		// 		background:$white;
		// 		color: $light_blue;
		// 	}
		// }
  //   }
}



.home.page-template-default > div:first-child:not(.animsition),
.home.page-template-default > div:last-child:not(.animsition) {
    display: none !important;
}