
/*------------------------------------*\
    BLOG LOOP
\*------------------------------------*/
.blog_wrapper{

	h1{
		font-size: 43px;
		color: $light_blue;
		margin-bottom: 0;
	}

	.title_separator{
		content: " ";
		display: block;
		height: 40px;
		width: 100%;
		background-image: url('../img/slider_content_bg.png');
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 40px;
		margin-bottom: 20px;
		position: relative;

		&:before{
			@include pseudo;
			width: 45%;
			left: 0;
			height: 1px;
			top: 46%;
			background-color: $light_blue;
		}
		&:after{
			@include pseudo;
			width: 45%;
			right: 0;
			height: 1px;
			top: 46%;
			background-color: $light_blue;
		}
	}

	.grid.news{
		@include mq('tablet', max) {
	        flex-direction: column;
			align-items: stretch;
	    }

		.cell--1\/2{
			@include mq('tablet', max) {
		        width: 100%;
		    }
		}
	}

	.article_wrapper{
		position: relative;
		width: 100%;		/* desired width */
		height: 250px;
		margin: 8px auto; 
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;


		.article_data{
			position:  absolute;
			bottom: 0;
			width: calc(100% - 20px);
			padding: 10px;
			height: 45px;
			background-color: rgba($light_blue_hex, 0.8);
			max-width: 100%;
			display: flex;
			flex-direction: column;
			align-items: left;
			justify-content: center;
			transition: height 0.8s;
			//@include effect(all, 250ms, ease-in-out);


			h2{
				font-weight: 400;
    			line-height: 1em;
				font-size: 20px;
				display: flex;

				a{
					color: $white;
					text-decoration: none;
				}
			}

			.info{
				margin-bottom: 5px;
				opacity: 0;
				height: 0;
				display: none;
				margin-left: -14px;
				border-left: 4px solid $light_blue;
				@include effect(all, 0.6s, ease-in-out);

				span{
					display: inline-block;
					padding: 3px 10px;
					font-size: 13px;
					font-weight: 600;
					color: $white;

					&.date{
						color: $light_blue;
						background-color: $white;
					}

				}
			}
		}

		&:hover{
			.article_data{
				height: calc(100% - 20px);

				.info{
					opacity: 1;
					height: 1.2em;
					display: block;
				}
			}
		}
	}
}