
/*------------------------------------*\
    WINERY PAGE
\*------------------------------------*/
body.page-id-248 {

	.grid>.cell--1\/2 {
		width: 100%;
	}

	.about_box_1 .text_box .box_text {
	    float: none;
	    max-width: 850px;
	    margin: 0 auto 70px;

	    ul {
		    margin-bottom: 15px;

		    li {
			    color: #505050 !important;
			    font-size: 16px;
			    font-weight: 400;
			    text-align: left;
			    margin-left: 18px;
			}
		}

		ol {
		    margin-bottom: 15px;

		    li {
			    color: #505050 !important;
			    font-size: 16px;
			    font-weight: 400;
			    text-align: left;
			    margin-left: 18px;
			}
		}

		p {
		    margin-bottom: 15px
		}

		h3{
			color: $light_blue;
			margin-bottom: 15px;
		}
	}

	.box_img .animation {
	    display: none;
	}

}