
/*------------------------------------*\
    SINGLE POST PAGE
\*------------------------------------*/
.sidebar{
	
	.sidebar-widget{

			&>div{
				background: $background_grey;
				padding: 15px;
				margin-bottom: 20px;
				border-bottom: 4px solid $light_blue;
				position: relative;

			// Social widget
			.ssk-group{
				text-align: left;

				span{
					width: 17%;
				    display: inline-block;
				    margin: 10px 6% 10px 0;

				    a{
				    	background:none;
				    	background-size: 100%;
				    	background-repeat: no-repeat;
				    	width: 42px;
				    	height: 42px;
				    	padding: 0;
				    	opacity: 0.85;

				    	&:before{
				    		display: none;
				    	}

				    	&.ssk-facebook{
				    		background-image: url("../img/icons/social_fb.png");
				    	}

				    	&.ssk-twitter{
				    		background-image: url("../img/icons/social_tw.png");
				    	}

				    	&.ssk-linkedin{
				    		background-image: url("../img/icons/social_in.png");
				    	}

				    	&.ssk-email{
				    		background-image: url("../img/icons/social_em.png");
				    	}

				    	&:hover{
				    		opacity: 1;
				    	}
				    }
				}
			}

			h3{
				font-size: 28px;
				color: $light_blue;
				margin-bottom: 10px;
			}

			&:first-of-type {
				overflow-y: visible;
				margin-top: (-95px*100vw/1920px);
	    		z-index: 9;

	    		@include mq('tablet-wide', max) {
	    			margin-top: (-70px*100vw/1920px);
	    		}

	    		@include mq('tablet', max) {
	    			margin-top: 30px;
	    		}

				&:before{
					@include pseudo;
					background-image: url('../img/widget_top_bg.png');
					background-position: right top;
					height: 20px;
					width: 100%;
					top: -20px;
					z-index: 1;
					left: 0px;
				}

				h3{
					font-size: 16px;
					font-weight: 400;
					text-transform: uppercase;
				}
			}

			&.widget_recent_entries{
				ul{
					list-style: none;

					li{
						margin: 20px 0;

						a{
							color: $light_blue;
							text-decoration: none;
						}
						span{
							display: block;
							font-size: 13px;
							margin-top: 6px;
							padding-left: 10px;
							position: relative;

							&:before{
								@include pseudo;
								content: "\f0da";
								font-family: FontAwesome;
								font-weight: normal;
								font-style: normal;
								display: inline-block;
								text-decoration: inherit;
								color: $light_blue;
								font-size: 15px;
								left: 0px;
								top: -1px;
							}
						}
					}
				}
			}
		}


		.gform_widget{

			h3{
				margin: 0 auto;
    			max-width: 200px;
				text-align: center;
			}

			.gform_body{

				ul.gform_fields li{

					input{
						border:2px solid $light_blue;
						width: 100%;
					    padding: 15px 8px !important;
					    font-size: 14px !important;
					    color: $light_blue;

					    @include placeholder {
					        color: $light_blue !important;
					    }
					}
				}
			}

			.gform_footer{
				input[type="submit"]{
					width: 100%;
				    background: #38C0D8;
				    padding: 12px 0 !important;
				    border-radius: 20px;
				    margin: 5px 0 0px !important;
				    color: $white;
				}
			}
		}

		.widget_nav_menu{
			background: none;
			border: none;
			padding-left: 0;
			padding-right: 0;

			ul.menu{
				li{
					width: 100%;
					list-style: none;
					margin: 0 0 15px;

					a{
						width: 84%;
					    background: #38C0D8;
					    padding: 13px 8% 12px;
					    border-radius: 20px;
					    color: $white;
					    display: block;
					    border:2px solid $light_blue;

					    &:hover{
					    	background: white;
					    	color: $light_blue;
					    }
					}
				}
			}
		}
	}

	

}