
/*------------------------------------*\
    SINGLE POST PAGE
\*------------------------------------*/
.single_page{

	.back_to{
		font-weight: bold;
		font-size: 13px;

		&:before{
			@include pseudo(inline-block, relative, '<');
			margin-top: 1px;
			margin-right: 7px;
    		font-size: 11px;
		}
	}

	@include mq('tablet', max) {
        flex-direction: column;
		align-items: stretch;

		.cell--3\/4, .cell--1\/4{
	        width: 100%;
	    }
	}

	.post{

		h1{
			font-size: 55px;
			font-weight: 600;
			color: $light_blue;
		}

		.post_data{
			margin: 0px 0 20px;

			span{
				display: inline-block;
				padding: 3px 10px;
				font-size: 14px;
				font-weight: 600;
				color: $light_blue;

				&.date{
					color: $light_blue;
					background-color: rgba($grey, 0.07);
					border-left: 4px solid $light_blue;
				}

			}
		}
	}
}