
/*------------------------------------*\
    WINERY PAGE
\*------------------------------------*/
body.page-id-213{

	.about_box_1 {
	    padding-bottom: 50px;

	    .img_box .box_img .animation{
	    	display: none;
	    }

	    .box_text a {
			background: #38C0D8 ;
			padding: 6px 19px 6px 20px;
			border-radius: 100px;
			color: #fff;
			font-size: 13px;
			margin-top: 10px;
			display: inline-block;

			&:hover {
			    background: #cbcbcb ;
			    color: #fff;
			}

			&::after {
			    content: '>';
			    padding-left: 45px;
			    font-size: 10px;
			    font-weight: bold;
			}
		}
	}
}